.head_1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.head_2 {
    font-size: 1.2rem;
    font-weight: bold;
}

.body {
    font-size: 1rem;
}

.blue{
    color: rgb(0, 140, 255);
}

.black{
    color: black;
}