.header {
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.mainContent {
    background-color: #eee;
    padding: 32px;
}

.searchBar {
    display: flex;
}
.searchResults {
    display: flex;
    gap: 32px;
}

.filtersCard {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.productCardsGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    list-style-type: none;
}

.productCard {
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pagination {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.footer {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    margin-right: 5px;
}

.input {
    width: 400px;
}

.loader {
    width: 70px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #000 #0000;
    animation: l1 1s infinite;
  }
  @keyframes l1 {to{transform: rotate(.5turn)}
}
